[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[user]
	name = Christopher Allen
	email = ChristopherA@LifeWithAlacrity.com
	mail = ChristopherA@LifeWithAlacrity.com
	signingKey = FDFE14A54ECB30FC5D2274EFF8D36C91357405ED
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = /Users/christophera/.gitignore_global
[commit]
	gpgsign = true
